decor-core-runtime/decor-parameters.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!-- include DECOR datatype defintions -->
    <xs:include schemaLocation="DECOR-datatypes.xsd"/>

    <!-- NOTE: if we ever add/update parameters, please update the documentation in DECOR-datatypes.xsd under simpleType DecorParameters as well. -->
    <xs:element name="decor-parameters">
        <xs:complexType>
            <xs:sequence>
                <xs:choice maxOccurs="1">
                    <xs:element name="switchCreateSchematron0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should not create the ISO schematron runtime environment.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet geen ISO schematron runtime-omgeving aanmaken.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="switchCreateSchematron1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should create the ISO schematron runtime environment.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet de ISO schematron runtime-omgeving aanmaken.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:choice maxOccurs="1">
                    <xs:element name="switchCreateSchematronWithWrapperIncludes0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should not add HL7v3 wrapper schematrons for your locale and if available; on &lt;switchCreateSchematron0/&gt; this parameter is auto-off.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="switchCreateSchematronWithWrapperIncludes1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should add HL7v3 wrapper schematrons for your locale and if available; on &lt;switchCreateSchematron0/&gt; this parameter is auto-off.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:choice maxOccurs="1">
                    <xs:element name="switchCreateSchematronWithWarningsOnOpen0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should respect the status open or closed for templates and elements. Open templates and elements allow other instance contents not part of the specification to be present.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet de status gesloten of open van templates en elementen respecteren. Open templates en elementen staan ook andere inhoud in instances dan gespecificeerd toe.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="switchCreateSchematronWithWarningsOnOpen1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">***USE WITH CAUTION***. The publication process should handle templates and elements as closed, regardless of their definition; this triggers warnings on any instance content that is not part of the definition. This setting is useful for the creation of qualification control schematrons, while the default schematrons could be leveraged for production use. If the conversion process should just run with whatever is specified this switch needs to be off. The resulting schematrons with this setting may not be suitable for production use but depends on the policy of the governance group.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">***LET OP***. Het publicatieproces moet templates en elementen verwerken alsof ze gesloten van aard zijn, ongeacht hun gedefinieerde status. Inhoud in instances die buiten de specificatie valt, levert een waarschuwing. Deze instelling is nuttig voor het maken van schematrons voor kwalificatie/kwaliteitscontrole, terwijl de standaard-schematrons voor productie gebruik inzetbaar zijn. De schematrons die via deze instelling zijn gemaakt, zijn niet geschikt voor productie. Gebruik van deze instelling is afhankelijk van beleid van de governancegroep.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:choice maxOccurs="1">
                    <xs:element name="switchCreateSchematronClosed0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should respect the status open or closed for templates and elements. Open templates and elements allow other instance contents not part of the specification to be present.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet de status gesloten of open van templates en elementen respecteren. Open templates en elementen staan ook andere inhoud in instances dan gespecificeerd toe.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="switchCreateSchematronClosed1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">***USE WITH CAUTION***. The publication process should handle templates and elements as closed, regardless of their definition; this triggers errors on any instance content that is not part of the definition. This setting is useful for the creation of qualification control schematrons, while the default schematrons could be leveraged for production use. If the conversion process should just run with whatever is specified this switch needs to be off. The resulting schematrons with this setting may not be suitable for production use but depends on the policy of the governance group.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">***LET OP***. Het publicatieproces moet templates en elementen verwerken alsof ze gesloten van aard zijn, ongeacht hun gedefinieerde status. Inhoud in instances die buiten de specificatie valt, levert een fout. Deze instelling is nuttig voor het maken van schematrons voor kwalificatie/kwaliteitscontrole, terwijl de standaard-schematrons voor productie gebruik inzetbaar zijn. De schematrons die via deze instelling zijn gemaakt, zijn niet geschikt voor productie. Gebruik van deze instelling is afhankelijk van beleid van de governancegroep.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:choice maxOccurs="1">
                    <xs:element name="switchCreateSchematronWithExplicitIncludes0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should contain schematron includes for any defined template in the scope of this DECOR project, regardless whether they are associated directly or indirectly to the current template.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet schematron includes bevatten voor iedere template in scope van het DECOR-project ongeacht of deze expliciet direct of indirect is gekoppeld aan de betreffende template.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="switchCreateSchematronWithExplicitIncludes1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should make sure that the main schematron only includes templates that are explicitly associated directly or indirectly to the current template.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet schematron includes bevatten voor iedere template die expliciet direct of indirect is gekoppeld aan de betreffende template.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:choice maxOccurs="1">
                    <xs:element name="switchCreateDocHTML0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should not create the HTML based documentation.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet geen HTML gebaseerde documentatie maken.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="switchCreateDocHTML1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should create the HTML based documentation.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet HTML gebaseerde documentatie maken.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:choice maxOccurs="1">
                    <xs:element name="switchCreateDocSVG0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should not add SVG based images in the HTML.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet geen SVG gebaseerde afbeeldingen toevoegen in de HTML.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="switchCreateDocSVG1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should add SVG based images in the HTML. This setting is only relevant when HTML generation is active.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet SVG gebaseerde afbeeldingen toevoegen in de HTML. Deze instelling is alleen relevant als HTML generatie actief is.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:choice maxOccurs="1">
                    <xs:element name="switchCreateDocDocbook0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should not create the DocBook based documentation.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet geen DocBook gebaseerde documentatie maken.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="switchCreateDocDocbook1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should create the DocBook based documentation.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet DocBook gebaseerde documentatie maken.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:choice maxOccurs="1">
                    <xs:element name="switchCreateDocPDF0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should not create PDF based documentation</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet geen PDF gebaseerde documentatie maken.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="switchCreateDocPDF1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should create the PDF based documentation with the choice of datasets, scenarios, identifiers, terminologies, rules and issues to be included in the PDF or not.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet PDF gebaseerde documentatie maken met keuze uit datasets, scenario's, identificaties, terminologie, regels en/of issues om wel of niet toe te voegen in de PDF.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:attribute name="include" use="optional" default="dsntri">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">d, s, n, t, r, and/or i for respectively datasets, scenarios, identifiers, terminologies, rules and issues to be included in the PDF or not</xs:documentation>
                                    <xs:documentation xml:lang="nl-NL">d, s, n, t, r, en/of i om respectievelijk datasets, scenario's, identificaties, terminologie, regels en/of issues wel of niet toe te voegen in de PDF.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[dsntri]*"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:choice maxOccurs="1">
                    <xs:element name="useLocalAssets0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US"> if the local assets dir ../assets should be used instead of the online version at art-decor.org/ADAR/rv then &lt;useLocalAssets1/&gt; should be present; if
                                &lt;useLocalAssets0/&gt; is present the online version is used; please be sure that a directory ../assets is available local to the decor html version</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="useLocalAssets1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US"> if the local assets dir ../assets should be used instead of the online version at art-decor.org/ADAR/rv then &lt;useLocalAssets1/&gt; should be present; if
                                &lt;useLocalAssets0/&gt; is present the online version is used; please be sure that a directory ../assets is available local to the decor html version</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:choice maxOccurs="1">
                    <xs:element name="useLocalLogos0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US"> if the local logos dir ../prefix-logos (prefix = project prefix) should be used instead of the online version at /decor/project/reference/@url then &lt;useLocalLogos1/&gt; should be present; if
                                &lt;useLocalLogos0/&gt; is present the online version is used; please be sure that a directory ../prefix-logos is available local to the decor html version</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="useLocalLogos1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US"> if the local logos dir ../prefix-logos (prefix = project prefix) should be used instead of the online version at /decor/project/reference/@url then &lt;useLocalLogos1/&gt; should be present; if
                                &lt;useLocalLogos0/&gt; is present the online version is used; please be sure that a directory ../prefix-logos is available local to the decor html version</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:choice maxOccurs="1">
                    <xs:element name="useCustomLogo0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US"> if there should be a custom logo on every HTML page next to the title then &lt;useCustomLogo1/&gt; should be present; if
                                &lt;useCustomLogo0/&gt; is present then no logo is displayed to the right of the page title</xs:documentation>
                        </xs:annotation>
                        <!--
                        <xs:complexType>
                            <xs:attribute name="src" use="optional">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US"> relative local path, e.g. ../pfx-logos/myLogo.png, or full URL, e.g. 
                                        http://project.art-decor.org/pfx-logos/myLogo.png, to the logo file. Please use a web supported format like jpg, gif, or png.</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="href" use="optional">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US"> URL to add to the logo. E.g. http://www.art-decor.org/</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:complexType>
                        -->
                    </xs:element>
                    <xs:element name="useCustomLogo1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US"> if there should not be a custom logo on every HTML page next to the title then &lt;useCustomLogo0/&gt; should be present; if
                                &lt;useCustomLogo1/&gt; is present then a logo is displayed to the right of the page title. The file src is required, the URL on the logo 
                                is optional</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:attribute name="src" use="required">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US"> relative local path, e.g. ../pfx-logos/myLogo.png, or full URL, e.g. 
                                        http://project.art-decor.org/pfx-logos/myLogo.png, to the logo file. Please use a web supported format like jpg, gif, or png.</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="href" use="optional">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US"> URL to add to the logo. E.g. http://www.art-decor.org/</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:choice maxOccurs="1">
                    <xs:element name="useLatestDecorVersion0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">See: useLatestDecorVersion1</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="useLatestDecorVersion1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">If set, decor2html will get overview results using RetrieveTransaction for the most recent version in project-decor.xml. 
                                If absent, current RetrieveTransaction results will be used.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:choice maxOccurs="1">
                    <xs:element name="inDevelopment0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should create artefacts with timestamp directories.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet de resultaten in mappen met tijdstempel plaatsen.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="inDevelopment1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">The publication process should create artefacts without timestamp directories as this is still in development.</xs:documentation>
                            <xs:documentation xml:lang="nl-NL">Het publicatieproces moet de resultaten in mappen zonder tijdstempel plaatsen omdat het nog in ontwikkeling is.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:element ref="defaultLanguage" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">You may influence the output langauge by setting defaultLanguage as an override for the default project language. You may use any of the 
                            available/valid language codes, e.g. &lt;defaultLanguage&gt;en-US&lt;/defaultLanguage&gt;. The project/@defaultLanguage is used when this element is absent or is 
                            empty. A special value ALL activates output in every available language in the DECOR file.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:choice maxOccurs="1">
                    <xs:element name="switchCreateDatatypeChecks0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">if the conversion process should create the schematrons to test all data type constraints the element &lt;switchCreateDatatypeChecks1/&gt; should be present; data type validation 
                                is skipped with &lt;switchCreateDatatypeChecks0/&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="switchCreateDatatypeChecks1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">if the conversion process should create the schematrons to test all data type constraints the element &lt;switchCreateDatatypeChecks1/&gt; should be present; data type validation 
                                is skipped with &lt;switchCreateDatatypeChecks0/&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:choice maxOccurs="1">
                    <xs:element name="createDefaultInstancesForRepresentingTemplates0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">if the conversion process should create default instances of every transaction including community mappings (if any) the element &lt;createDefaultInstancesForRepresentingTemplates1/&gt; should be present; creating default instances 
                                is skipped with &lt;createDefaultInstancesForRepresentingTemplates0/&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="createDefaultInstancesForRepresentingTemplates1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">if the conversion process should create default instances of every transaction including community mappings (if any) the element &lt;createDefaultInstancesForRepresentingTemplates1/&gt; should be present; creating default instances 
                                is skipped with &lt;createDefaultInstancesForRepresentingTemplates0/&gt;</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:element name="useCustomRetrieve1" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">Customizations to be used in RetrieveTransaction</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="hidecolumns" use="required">
                            <xs:annotation>
                                <xs:documentation xml:lang="en-US">Columns to hide</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="logLevel" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">Determines the log level of the DECOR2schematron.xsl transformation. Defaults to INFO</xs:documentation>
                        <xs:documentation xml:lang="nl-NL">Bepaalt het niveau van logging bij de transformatie met DECOR2schematron.xsl. Standaardwaarde is INFO</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:NMTOKEN">
                            <xs:enumeration value="INFO">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">The INFO level designates informational messages that highlight the progress of the application at coarse-grained level.</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="ALL">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">The ALL has the lowest possible rank and is intended to turn on all logging."</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="DEBUG">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">The DEBUG Level designates fine-grained informational events that are most useful to debug an application.</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="WARN">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">The WARN level designates potentially harmful situations.</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="ERROR">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">The ERROR level designates error events that might still allow the application to continue running.</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="FATAL">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">The FATAL level designates very severe error events that will presumably lead the application to abort.</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="OFF">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en-US">The OFF level has the highest possible rank and is intended to turn off logging.</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="artdecordeeplinkprefix" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">URI for ART-DECOR, e.g. https://art-decor.org/art-decor/. MUST end with a /. The value is used to build the URI to the 
                            live project for example to get to full issue details. If you do not set it here, we will try decor/@deeplinkprefix which gets set through project 
                            compilation, if that has no value, and you do not supply it directly to DECOR2schematron (e.g. through the ADRAM service), the value is empty and links
                            will not work.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:anyURI">
                            <xs:pattern value="https?://(.*/)+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="bindingBehavior" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en-US">This option determines the binding behavior for the schematron engine and influences schematron generation</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="valueSets" use="optional" default="freeze">
                            <xs:annotation>
                                <xs:documentation xml:lang="en-US">Specifies binding behavior for dynamic value set bindings at validation time</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:NMTOKEN">
                                    <xs:enumeration value="freeze">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en-US">The schematron engine generates code for dynamically bound value sets by treating the most recent
                                            version at the time of generation as static (freeze the most recent version and treat it as if it was declared static)</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                    <xs:enumeration value="preserve">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="en-US">The schematron engine generates code for dynamically bound value sets by using the actual most recent
                                                version at the time of validation and therfore create true value set look-up code to retrieve the recent version 
                                                from the ART-DECOR terminology service (preserve the real most recent version and treat it as such)</xs:documentation>
                                        </xs:annotation>
                                    </xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:choice maxOccurs="1">
                    <xs:element name="switchCreateTreeTableHtml0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Conversion process should create HTML tables (e.g. templates) the traditional way</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="switchCreateTreeTableHtml1">
                        <xs:annotation>
                            <xs:documentation xml:lang="en-US">Default value. Conversion process should create HTML tables (e.g. templates) with a binding on treetable.js which enables folding of element. This option is not recommended for wiki.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="defaultLanguage" type="LanguageCode"/>
</xs:schema>